.wrapper {
  display: grid;
  grid-template-columns: 1fr 700px;
  grid-template-rows: auto 1fr;
}

.wrapper > header {
  grid-column: 1/2;
  grid-row: 1/2;
}

.paramenters {
  grid-column: 1/2;
  grid-row: 2/3;
}

.paper {
  grid-column: 2/3;
  grid-row: 1/3;
  position: relative;
}

.paper > button {
  position: absolute;
  top: 0;
  right: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 3em;
  font-family: 'Josefin Sans', sans-serif;
}

h2 {
  font-size: 2em;
  font-family: 'Josefin Sans', sans-serif;
}

p {
  font-size: 0.8em;
}

button {
  background-color: lavender;
  border: 1px solid slateblue;
  color: darkslateblue;
  padding: 3px 5px;
  text-align: center;
  font-size: 0.8em;
  font-family: 'Roboto', sans-serif;
}

button:hover {
  background-color: thistle;
}

a {
  color: gray;
  font-weight: normal;
  text-decoration: none;
}

a:hover {
  color: mediumpurple;
}
